body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(assets/bgcss.jpg);
    background-size: cover;
    background-position: center;
  }

  p{
      color: white;
  }

  a:link, a:visited {
    color: gold;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
  }